'use strict';
import PostgresClients from '../src/config/postgres-clients';
module.exports = {
    apps: [
        {
            env: {
                MODE: 'production', // do not remove this
                PORT: 80
            },
            name: 'api',
            script: './dist/main.js',
            watch: true,
        },
    ],
};
